<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
  <link rel="stylesheet" href="https://obscure-escarpment-2240.herokuapp.com/stylesheets/bcpo-front.css">
  <script>var bcpo_product={{ product | json }}; {% if product.metafields.bcpo.bcpo_data %}var bcpo_data={{ product.metafields.bcpo.bcpo_data }};{% endif %} {% if shop.metafields.bcpo.bcpo_settings %}var bcpo_settings={{ shop.metafields.bcpo.bcpo_settings }};{% endif %}var inventory_quantity = [];{% for v in product.variants %}inventory_quantity.push({{v.inventory_quantity}});{% endfor %}if(bcpo_product) { for (var i = 0; i < bcpo_product.variants.length; i += 1) { bcpo_product.variants[i].inventory_quantity = inventory_quantity[i]; }}window.bcpo = window.bcpo || {}; bcpo.cart = {{cart | json}}; bcpo.ogFormData = FormData;</script>

    
    

    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="theme-color" content="{{ settings.color_header_bg }}">

    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">
    <title>
      {{ page_title }}
      {% if current_tags %}
        {% assign meta_tags = current_tags | join: ', ' %}
        &ndash;
        {{ 'general.meta.tags' | t: tags: meta_tags }}
      {% endif %}
      {% if current_page != 1 %}
        &ndash;
        {{ 'general.meta.page' | t: page: current_page }}
      {% endif %}
      {% unless page_title contains shop.name %}
        &ndash;
        {{ shop.name }}
      {% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% include 'social-meta-tags' %}

    <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

    <script>
    window.theme = window.theme || {};

    theme.strings = {
      stockAvailable: {{ 'products.product.stock_available' | t: count: '1' | json }},
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      noStockAvailable: {{ 'products.product.stock_unavailable' | t | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      totalCartDiscount: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }},
      addressError: {{ 'sections.map.address_error' | t | json }},
      addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
      authError: {{ 'sections.map.auth_error_html' | t | json }},
      slideNumber: {{ 'homepage.hero.slide_number' | t: slide_number: '[slide_number]' | json }}
    };
  </script>

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

    {% if request.page_type contains 'customers/' %}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {% endif %}

    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>

    {% if request.page_type == 'product' or request.page_type == 'cart' or request.page_type == 'index' %}
      <script>
      window.theme = window.theme || {};
      theme.moneyFormat = {{ shop.money_format | json }};
    </script>
    {% endif %}

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    <!-- starapps_scripts_start -->
<!-- This code is automatically managed by StarApps Studio -->
<!-- Please contact support@starapps.studio for any help -->
{% include "starapps-language-meta" %}
<script type="text/javascript" src="https://cdn.starapps.studio/apps/vsk/southbankartco/script-1601047944.js?shop={{shop.permanent_domain}}" async></script>
<!-- starapps_scripts_end -->
{{ content_for_header }}
  <script id="vopo-head">(function () {
	if (((document.documentElement.innerHTML.includes('asyncLoad') && !document.documentElement.innerHTML.includes('\\/obscure' + '-escarpment-2240')) || (window.bcpo && bcpo.disabled)) && !window.location.href.match(/[&?]yesbcpo/)) return;
	var script = document.createElement('script');
	var reg = new RegExp('\\\\/\\\\/cdn\\.shopify\\.com\\\\/proxy\\\\/[a-z0-9]+\\\\/obscure-escarpment-2240\\.herokuapp\\.com\\\\/js\\\\/best_custom_product_options\\.js[^"]+');
	var match = reg.exec(document.documentElement.innerHTML);
	script.src = match[0].split('\\').join('').replace('%3f', '?').replace('u0026', '&');
	var vopoHead = document.getElementById('vopo-head'); vopoHead.parentNode.insertBefore(script, vopoHead);
})();
</script>
  <!-- BEGIN XO GALLERY -->
  {% include "xo-gallery" %}
  <!-- END XO GALLERY -->
  {% render 'easy-gdpr-settings' %}
</head>

  <body class="template-{{ request.page_type | handle }}">

    <a class="in-page-link visually-hidden skip-link" href="#MainContent">
      {{ 'general.accessibility.skip_to_content' | t }}
    </a>

    {% section 'header' %}

    <div class="page-container page-element is-moved-by-drawer">
      <main class="main-content" id="MainContent" role="main">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}
    </div>

    <script id="QuantityTemplate" type="text/template">
      {% raw %}
        <div class="js-qty">
          <input type="text" value="{{ value }}" id="{{ key }}" name="{{ name }}" pattern="[0-9]*" data-line="{{ line }}" class="js-qty__input" aria-live="polite">
          <button type="button" class="js-qty__adjust js-qty__adjust--minus" aria-label="{% endraw %}{{ 'cart.label.decrease_quantity' | t }}{% raw %}">
          {% endraw %}
          {% include 'icon-minus' %}
          {% raw %}
            <span class="icon__fallback-text">−</span>
          </button>
          <button type="button" class="js-qty__adjust js-qty__adjust--plus" aria-label="{% endraw %}{{ 'cart.label.increase_quantity' | t }}{% raw %}">
          {% endraw %}
          {% include 'icon-plus' %}
          {% raw %}
            <span class="icon__fallback-text">+</span>
          </button>
        </div>
      {% endraw %}
    </script>

    {% if request.page_type == 'product' %}
      <div class="modal" id="ProductModal">
        <div class="modal__inner">
          <img class="product-modal__image" id="ProductZoomImg" src="">
        </div>
        <button class="modal__close js-modal-close text-link" type="button">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
        </button>
      </div>
    {% endif %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
      <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
      <li id="a11y-slideshow-info">{{- 'homepage.hero.navigation_instructions' | t -}}</li>
      <script async="async" src="//www.socialintents.com/api/socialintents.1.3.js#2c9fa23c718ebbb6017196dd74b70571"></script>
    </ul>
  {% include 'productpageswatchsnippet' %}{% include 'swatchyappvariables' %}</body>
</html>
